/* 
 okay  ye ek link hai :"https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.merchantmaverick.com%2Fstart-tutoring-business-online%2F&psig=AOvVaw2G-JUdLyn3VvOdLBVyFUx4&ust=1629450908419000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPCHieffvPICFQAAAAAdAAAAABAZ
  isme ek webpage open huaa hai Tutoring Business se related photos me download kar deta hu konsa karna hai  
 "jo sahi lage bro tmko ek kia hu abhi dekho
 yaar pata nhi kyu live share se photo open nhi ho rhi hai only text document support krta hai live share bas 
 photo access nhi kr skate h ye wala dala hu 
 
 mera dekho-- https://freellustrations.com/
 */
.home{
    background: url("../photos/banner.png"); 
    width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;

}